body{
    padding:0;
    margin:0;
    position: relative;

}
.b{
    border:1px solid black;
}
header{
    position: absolute;
    height: 120px;
    width: 80%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #areaH{
    width: 100%;
    height: 100%;
}

header #areaH nav{
    width: 100%;
    height: 70px;
    background-color: #2a2f45;
    position: relative;
}
header #areaH nav #list{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 100%;
}
header #areaH nav #list ul{
    display: flex;
    flex-direction: row;
}

header #areaH nav #list ul li{
    list-style: none;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #areaH nav #list ul li a{
    text-decoration: none;
    color:white;
    font-size:12px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

header #areaH nav #quadverm{
    width: 270px;
    height: 115px;
    position: absolute;
    background:#b93a41;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #areaH nav #quadverm #borda{
    width: 90%;
    height: 80%;
    border:1px solid rgba(255, 255, 255, 0.404);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header #areaH nav #quadverm #borda h1{
    padding:0;
    margin:0;
    color:white;
}
header #areaH #list ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 0;
    transition:0.3s;
}

header #areaH #list ul li a:hover{
    padding:0px 0;
}
header #areaH #list ul li a span{
    position: absolute;
    width: 100%;
    height: 1px;
    background:white;
    opacity: 0;
    transition:0.3s;
}

header #areaH #list ul li a:hover span{
    opacity: 1;
}

header #areaH #list ul li a span:nth-child(1){
    top:0px;
}
header #areaH #list ul li a span:nth-child(2){
    bottom:0px;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url("bgjpg.");
}